<% include partials/header.ejs%>

<div class = 'ui container fluid'>
    <ul>
        <h2>Landing page!</h2>
        <li><a href= '/campsites'>View all camping site!</a></li>
        <li><a href = '/campsites/new'>Add new campsite</a></li>
    </ul>
</div>

<% include partials/footer.ejs%>