<% include partials/header.ejs%>

<h2>Landing page!</h2>

<div>
    <ul>
        <li><a href= '/campsites'>View all camping site!</a></li>
        <li><a href = '/campsites/new'>Add new campsite</a></li>
    </ul>
</div>

<% include partials/footer.ejs%>